#project

In [1]:
import pandas as pd

# Specify the correct file path
file_path_2019 = "downloads/DATA606_Project/data_2019.csv"
file_path_2020 = "downloads/DATA606_Project/data_2020.csv"
file_path_2021 = "downloads/DATA606_Project/data_2021.csv"
file_path_2022 = "downloads/DATA606_Project/data_2022.csv"

# Try reading the DataFrame with 'latin1' encoding
encoding = 'latin1'  # Use 'latin1' encoding
df_2019 = pd.read_csv(file_path_2019, encoding=encoding)
df_2020 = pd.read_csv(file_path_2020, encoding=encoding)
df_2021 = pd.read_csv(file_path_2021, encoding=encoding)
df_2022 = pd.read_csv(file_path_2022, encoding=encoding)

C:\Users\SAI CHARAN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,48,49,50,51,52,54,55,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,114,115,116,117,118,119,120,121,122,123,124) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\SAI CHARAN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,16,19,85,122) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\SAI CHARAN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,6,16,19,85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\SAI CHARAN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,6,16,19,85,122) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
print(df_2019.columns)
print(df_2020.columns)
print(df_2021.columns)
print(df_2022.columns)

Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'CASE_RECEIVED_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'ORIG_CASE_NO', 'SCHD_A_SHEEPHERDER',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FW_INFO_TRAINING_COMP', 'FW_INFO_REQ_EXPERIENCE',
       'FW_INFO_ALT_EDU_EXPERIENCE', 'FW_INFO_REL_OCCUP_EXP',
       'PREPARER_INFO_EMP_COMPLETED', 'PREPARER_INFO_TITLE',
       'EMPLOYER_DECL_INFO_TITLE', 'NAICS_US_CODE', 'NAICS_US_TITLE',
       'PW_JOB_TITLE'],
      dtype='object', length=125)
Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'PREVIOUS_SWA_CASE_NUMBER_STATE',
       'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FOREIGN_WORKER_ALT_OCC_EXP', 'FOREIGN_WORKER_EXP_WITH_EMPL',
       'FOREIGN_WORKER_EMPL_PAY_FOR_ED', 'FOREIGN_WORKER_CURR_EMPLOYED',
       'EMPLOYER_COMPLETED_APPLICATION', 'PREPARER_NAME', 'PREPARER_TITLE',
       'PREPARER_EMAIL', 'EMP_INFO_DECL_NAME', 'EMP_INFO_DECL_TITLE'],
      dtype='object', length=154)
Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'PREVIOUS_SWA_CASE_NUMBER_STATE',
       'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FOREIGN_WORKER_ALT_OCC_EXP', 'FOREIGN_WORKER_EXP_WITH_EMPL',
       'FOREIGN_WORKER_EMPL_PAY_FOR_ED', 'FOREIGN_WORKER_CURR_EMPLOYED',
       'EMPLOYER_COMPLETED_APPLICATION', 'PREPARER_NAME', 'PREPARER_TITLE',
       'PREPARER_EMAIL', 'EMP_INFO_DECL_NAME', 'EMP_DECL_TITLE'],
      dtype='object', length=154)
Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'PREVIOUS_SWA_CASE_NUMBER_STATE',
       'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FOREIGN_WORKER_ALT_OCC_EXP', 'FOREIGN_WORKER_EXP_WITH_EMPL',
       'FOREIGN_WORKER_EMPL_PAY_FOR_ED', 'FOREIGN_WORKER_CURR_EMPLOYED',
       'EMPLOYER_COMPLETED_APPLICATION', 'PREPARER_NAME', 'PREPARER_TITLE',
       'PREPARER_EMAIL', 'EMP_INFO_DECL_NAME', 'EMP_DECL_TITLE'],
      dtype='object', length=154)

Align Columns:
If the DataFrames have different columns, you should align them by selecting a common set of columns that exist in all DataFrames. You can use the intersection of column names to do this.

In [3]:
common_columns = df_2019.columns.intersection(df_2020.columns).intersection(df_2021.columns).intersection(df_2022.columns)

df_2019 = df_2019[common_columns]
df_2020 = df_2020[common_columns]
df_2021 = df_2021[common_columns]
df_2022 = df_2022[common_columns]

In [6]:
print(df_2019.columns)
print(df_2020.columns)
print(df_2021.columns)
print(df_2022.columns)

Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'REFILE',
       'ORIG_FILE_DATE', 'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME',
       'EMPLOYER_ADDRESS_1', 'EMPLOYER_ADDRESS_2', 'EMPLOYER_CITY',
       'EMPLOYER_COUNTRY', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'EMPLOYER_NUM_EMPLOYEES', 'FW_OWNERSHIP_INTEREST',
       'PW_SOC_CODE', 'PW_SOC_TITLE', 'COUNTRY_OF_CITIZENSHIP',
       'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_MAJOR'],
      dtype='object')
Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'REFILE',
       'ORIG_FILE_DATE', 'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME',
       'EMPLOYER_ADDRESS_1', 'EMPLOYER_ADDRESS_2', 'EMPLOYER_CITY',
       'EMPLOYER_COUNTRY', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'EMPLOYER_NUM_EMPLOYEES', 'FW_OWNERSHIP_INTEREST',
       'PW_SOC_CODE', 'PW_SOC_TITLE', 'COUNTRY_OF_CITIZENSHIP',
       'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_MAJOR'],
      dtype='object')
Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'REFILE',
       'ORIG_FILE_DATE', 'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME',
       'EMPLOYER_ADDRESS_1', 'EMPLOYER_ADDRESS_2', 'EMPLOYER_CITY',
       'EMPLOYER_COUNTRY', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'EMPLOYER_NUM_EMPLOYEES', 'FW_OWNERSHIP_INTEREST',
       'PW_SOC_CODE', 'PW_SOC_TITLE', 'COUNTRY_OF_CITIZENSHIP',
       'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_MAJOR'],
      dtype='object')
Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'REFILE',
       'ORIG_FILE_DATE', 'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME',
       'EMPLOYER_ADDRESS_1', 'EMPLOYER_ADDRESS_2', 'EMPLOYER_CITY',
       'EMPLOYER_COUNTRY', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'EMPLOYER_NUM_EMPLOYEES', 'FW_OWNERSHIP_INTEREST',
       'PW_SOC_CODE', 'PW_SOC_TITLE', 'COUNTRY_OF_CITIZENSHIP',
       'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_MAJOR'],
      dtype='object')

Add Year Column:
Create a new column in each DataFrame to indicate the year. This will help you identify the data source when merged.

In [7]:
df_2019['Year'] = 2019
df_2020['Year'] = 2020
df_2021['Year'] = 2021
df_2022['Year'] = 2022

Concatenate DataFrames:
Use the pd.concat() function to concatenate the DataFrames vertically, effectively merging them.

In [8]:
merged_df = pd.concat([df_2019, df_2020, df_2021, df_2022], ignore_index=True)

Save the Merged Data:
Save the merged DataFrame to a new file or use it for further analysis.
python

In [9]:
merged_df.to_csv("merged_data.csv", index=False)

Now, you have a single DataFrame containing data from all four years (2019, 2020, 2021, 2022) with a common set of columns, and a "Year" column indicating the source year. You can perform various analyses or transformations on this merged dataset within your Jupyter Notebook.

In [10]:
# Calculate memory usage of the DataFrame in MB
memory_usage_mb = merged_df.memory_usage(deep=True).sum() / (1024 * 1024)  # Convert bytes to MB

print(f"DataFrame size: {memory_usage_mb:.2f} MB")

DataFrame size: 1069.51 MB

In [11]:
# Get the shape of the DataFrame
num_rows, num_columns = merged_df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 1320781
Number of columns: 22

To determine the potential values or categories for categorical variables in your dataset, you can inspect the unique values present in each categorical column. Here's how you can identify the categories for categorical variables in your DataFrame:

In [13]:
# List of columns that are likely categorical
categorical_columns = [
    'CASE_STATUS', 'EMPLOYER_COUNTRY', 'EMPLOYER_STATE',
    'AGENT_STATE', 'PW_SOC_CODE', 'PW_SOC_TITLE',
    'PW_LEVEL_9089', 'JOB_INFO_WORK_STATE',
    'JOB_INFO_EDUCATION', 'COUNTRY_OF_CITIZENSHIP',
    'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION'
]

In [14]:
merged_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,REFILE,ORIG_FILE_DATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,EMPLOYER_ADDRESS_2,EMPLOYER_CITY,...,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,EMPLOYER_NUM_EMPLOYEES,FW_OWNERSHIP_INTEREST,PW_SOC_CODE,PW_SOC_TITLE,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_MAJOR,Year
0,A-17117-30982,01-10-2018,Certified-Expired,NaN,NaN,N,"Precision, Inc.",1700 Freeway Blvd.,NaN,Minneapolis,...,7638526729,NaN,109.0,N,17-2071,Electrical Engineers,HONG KONG,H-1B,ELECTRICAL ENGINEERING,2019
1,A-17179-57659,01-10-2018,Certified-Expired,NaN,NaN,N,HOME DOCTOR CONSTRUCTION LLC,67 TANGLEWOOD ROAD,NaN,NEWTON,...,6177778656,NaN,2.0,Y,47-2061,Construction Laborers,BELARUS,B-2,NaN,2019
2,A-17214-71267,01-10-2018,Certified-Expired,NaN,NaN,N,"AT&T SERVICES, INC.",ONE AT&T PLAZA,208 S. AKARD,DALLAS,...,800-403-3302,NaN,281450.0,N,11-3021,Computer and Information Systems Managers,INDIA,H-1B,ELECTRICAL ENGINEERING,2019
3,A-17279-95946,01-10-2018,Certified-Expired,NaN,NaN,N,"SOFTWARE PEOPLE, INC","738 SMITHTOWN BYPASS,",SUITE #202,SMITHTOWN,...,6318630299,NaN,40.0,N,15-1132,"Software Developers, Applications",INDIA,H-1B,NaN,2019
4,A-17310-07454,01-10-2018,Denied,NaN,NaN,N,IRA NASSERIAN A PROFESSIONAL CORPORATION,5901 W CENTURY BOULEVARD,SUITE 1020,LOS ANGELES,...,3103377900,NaN,1.0,Y,23-2099,"Legal Support Workers, All Other",IRAN,B-2,LAW,2019